#footer
  p This #{app_type} is based on 「#[a(href="https://github.com/kobalab/Majiang" target="_blank") 電脳麻将]」  created by #[a(href="https://github.com/kobalab" target="_blank") @kobalab] with tweaks by #[a(href="https://github.com/coralsundy" target="_blank") @coralsundy].
