ul#navi
  li #[a(href="index.html") 電脳麻将]
  li #[a(href="autoplay.html") 自動対戦]
  li #[a(href="netplay.html") ネット対戦]
  li #[a(href="rule.html") ルール]
  li #[a(href="paipu.html") 牌譜]
  li #[a(href="paili.html") 牌理]
  li #[a(href="hule.html") 点計算]
  li #[a(href="drill.html") ドリル]
  li #[a(href="dapai.html") 何切る]
  li #[a(href="paiga.html") 牌画]

ul#navi
  li @kobalab&nbsp;: #[a(href="https://kobalab.net" target="_blank") Home]
  li #[a(href="https://github.com/kobalab" target="_blank") GitHub]
  li #[a(href="https://www.amazon.co.jp/dp/4798067881" target="_blank") 書籍]

ul#navi
  li @coralsundy: #[a(href="https://coralsundy.com" target="_blank") Home]
  li #[a(href="https://github.com/coralsundy" target="_blank") GitHub]
  li #[a(href="https://strikeinnarrowpath.com" target="_blank") Game]
